[Unit]
Description=Backend service for MERN Todo App
After=network.target

[Service]
ExecStart=/usr/bin/node {{ app_directory }}/TODO/todo_backend/server.js
Restart=always
User={{ app_user }}
Group={{ app_user }}
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory={{ app_directory }}/TODO/todo_backend

[Install]
WantedBy=multi-user.target
